<div class="row">
  <div class="span6 offset3">
<%= form_for(@demand_site) do |f| %>
    <% if @demand_site.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@demand_site.errors.count, "error") %> prohibited this demand_site from being saved:</h2>

          <ul>
            <% @demand_site.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Select Code' %><br />
      <%= f.collection_select :site_id, Site.all, :id, :codename %>
    </div>
    <div class="field">
      <%= f.label 'Demand' %><br />
      <%= f.text_field :demand_quantity %>
    </div>
    <div class="actions">
      <%= f.submit "Save Demand Site" %>
    </div>
<% end %>
  </div>
</div>