<div class="row">
  <div class="span6 offset3">
<%= form_for(@site) do |f| %>
    <% if @site.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

          <ul>
            <% @site.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Name' %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label 'Code' %><br />
      <%= f.text_field :codename %>
    </div>
    <div class="actions">
      <%= f.submit 'Save Site' %>
    </div>
<% end %>
  </div>
</div>