<!--<p id="notice"><%= notice %></p> -->


<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Code:</b>
  <%= @site.codename %>
</p>


<%= link_to 'Update', edit_site_path(@site) %> <br><br>
<%= link_to 'Back', sites_path %>